body {
    font-family: 'Roboto';
}
.navbar {
    background-color: #BACEC1;
    color:#1D3124;
    font-size: 1.4rem;
}
.card {
    border: none;
}
.impressum {
    background-color: #BACEC1;
    align-items: baseline;
    text-decoration: none;
    font-size: 1.2rem;
} 
.impressum a {
    color: #1D3124;
    text-decoration: none;
}
