body {
    font-family: 'Roboto';
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;    
}
.navbar {
    background-color: #BACEC1;
    color:#1D3124;
    font-size: 1.4rem;
    justify-content: center;
}
.carousel {
    /*margin-left: 15px;
    margin-right: 15px;*/
    box-shadow:  0 4px 4px 0 rgba(43, 43, 43, 0.2), 0 6px 20px 0 rgba(47, 47, 47, 0.19);
    border-radius: 4px;
}
.container h2 {
    color:#1D3124
}
.card {
    background-color: #BACEC1;
}
.container p {
    text-align: justify;
}
#dogPaw {
    display: none;
}
#footer {
    display: block;
}
.impressum {
    background-color: #BACEC1;
    text-decoration: none;
    font-size: 1.2rem;
} 
.impressum a {
    color: #1D3124;
    text-decoration: none;
}
