body {
    font-family: 'Roboto';
}
.navbar {
    background-color: #BACEC1;
    color:#1D3124;
    font-size: 1.4rem;
    justify-content: center;
}
.carousel {
    /*margin-left: 15px;
    margin-right: 15px;*/
    box-shadow:  0 4px 4px 0 rgba(43, 43, 43, 0.2), 0 6px 20px 0 rgba(47, 47, 47, 0.19);
    border-radius: 4px;
}
.container h2 {
    color:#1D3124
}
.card {
    background-color: #BACEC1;
}
.card-text {
    text-align: justify;
}
#dogPaw {
    display: none;
}
.impressum {
    background-color: #BACEC1;
    align-items: baseline;
    text-decoration: none;
    font-size: 1.2rem;
} 
.impressum a {
    color: #1D3124;
    text-decoration: none;
}
