
body {
    font-family: 'Roboto';
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    
}
.navbar {
    background-color: #BACEC1;
    color:#1D3124;
    font-size: 1.4rem;
    justify-content: center;
}
.container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#footer {
    display: block;
}
.impressum {
    background-color: #BACEC1;
    text-decoration: none;
    font-size: 1.2rem;
} 
.impressum a {
    color: #1D3124;
    text-decoration: none;
}